			<hr>
			<footer>
				<p style="text-align:left;">
					<span data-localize="footer_copyright">Copyright</span>
						&copy; {{ site.time | date: "%Y" }}
					<a data-localize="footer_team" href="{{ '/team' | relative_url }}">
						{{ site.name }} Team</a>
				</p>
			</footer>
