{%-comment-%} TODO: WIP {%-endcomment-%}
{%-if include.optional-%}
	{%-assign suffix = " (optional)"-%}
	{%-assign depend = include.depend |split:':' |first-%}
{%-elsif source == "archdroid"-%}
	{%-assign suffix = " (archdroid)"-%}
	{%-assign depend = include.depend-%}
{%-else-%}
	{%-assign suffix = ''-%}
	{%-if    include.depend contains '>'-%}{%-assign sep = '>'-%}
	{%-elsif include.depend contains '<'-%}{%-assign sep = '<'-%}
	{%-elsif include.depend contains '='-%}{%-assign sep = '='-%}{%-endif-%}
	{%-if sep-%}
		{%-assign depend = include.depend |split:sep |first-%}
	{%-else-%}
		{%-assign depend = include.depend-%}
	{%-endif-%}
{%-endif-%}
{%-comment-%}
{%-assign baseurl = "https://" |append: include.source |append: ".org/packages/?q="-%}
<a href="{{ baseurl | append: depend }}">{{ depend }}</a>{{ suffix }}<br/>{%-endcomment-%}
{%-comment-%} No new line, avoid <p>{%-endcomment-%}