
<table
	id="table-devices"
	class="table table-sm table-hover"
	data-toggle="table">
	<thead>
		<tr>
			<th
				data-field="name"
				data-sortable="true"
			>
				<span data-localize="devices_device">Device</span>
			</th>
			<th>
				<span data-localize="devices_images">Images</span>
			</th>
		</tr>
	</thead>
	<tbody>
{%- for device in site.data.devices -%}
		<tr>
			<td><span>{{ device.name }}</span></td>
			<td><a href="{{ '/en/images/' | append: device.id | relative_url }}">
				<span data-localize="devices_view">View</span></a></td>
		</tr>
{%- endfor -%}
	</tbody>
</table>
