
<table
	id="table-disk-images"
	class="table table-hover"
	data-toggle="table"
>
	<thead>
		<tr>
			<th data-field="name" data-sortable="true">Environment</th>
			<th>Info &amp; Download</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<a title="details about this environment" href="/env/headless">
					Headless
				</a>
			</td>
			<td>
				<a href="/images/odroidn2/headless" title="details about this image">
					<i class="fas fa-info-circle"></i>
				</a>
				<a
					target="_blank"
					href="https://mega.nz/file/2Q9lTIbR#Kinzc-vlmI4c7IgUqn4-96E62GYvSH4hHqinzKJxOhw"
				>
					<i class="fas fa-download"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a title="details about this environment" href="/env/gnome">
					Gnome
				</a>
			</td>
			<td>
				<a href="/images/odroidn2/gnome" title="details about this image">
					<i class="fas fa-info-circle"></i>
				</a>
				<a
					target="_blank"
					href="https://mega.nz/file/iIty1LhY#0DzhzmMhCqOujy1aUceywo8SWan9ox4_Wm23hDztYXM"
				>
					<i class="fas fa-download"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a title="details about this environment" href="/env/xfce">
					Xfce
				</a>
			</td>
			<td>
				<a href="/images/odroidn2/xfce" title="details about this image">
					<i class="fas fa-info-circle"></i>
				</a>
				<a
					target="_blank"
					href="https://mega.nz/file/zEkw2Jgb#R14x4WXDvMtn3QaVNHlYIe9bq25kZoH-ddxYGTS5jdM"
				>
					<i class="fas fa-download"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a title="details about this environment" href="/env/wayfire">
					Wayfire
				</a>
			</td>
			<td>
				<a href="/images/odroidn2/wayfire" title="details about this image">
					<i class="fas fa-info-circle"></i>
				</a>
				<a
					target="_blank"
					href="https://mega.nz/file/HMkEQZRR#ZFGNop8u9x_SIfCF4_wkC91UWfmt2hGPU7MpqA9APZc"
				>
					<i class="fas fa-download"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>
