
<table
	id="table-mirrors"
	class="table table-sm table-hover"
	data-toggle="table">
	<thead>
		<tr>
			<th
				data-field="name"
				data-sortable="true"
				data-localize="mirrors_header_name">Name</th>
			<th data-localize="mirrors_header_url">URL</th>
		</tr>
	</thead>
	<tbody>
		{%-for mirror in site.data.mirrors-%}
		<tr>
			<td>{{ mirror.name }}</td>
			<td>{{ mirror.url }}</td>
		</tr>
		{%-endfor-%}
	</tbody>
</table>
