<table
	id="table-mirrors"
	class="table table-sm table-hover table-responsive-xl"
	data-toggle="table">
	<thead>
		<tr>
			<th data-field="name" data-sortable="true">Name</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
{%-for mirror in site.data.mirrors-%}
		<tr>
			<td>{{ mirror.name }}</td>
			<td>{{ mirror.url }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
