
<table
	id="table-mirrors"
	class="table table-hover"
>
	<thead>
		<tr>
			<th>
				<span data-localize="mirrors_header_name">Name</span>
			</th>
			<th>
				<span data-localize="mirrors_header_url">URL</span>
			</th>
		</tr>
	</thead>
	<tbody>
		{%-for mirror in site.data.mirrors-%}
		<tr>
			<td>{{ mirror.name }}</td>
			<td>{{ mirror.url }}</td>
		</tr>
		{%-endfor-%}
	</tbody>
</table>
