<table
	id="table-package-updates"
	class="table table-hover table-responsive-lg table-borderless"
	data-toggle="table">
	<tbody>
{%-for pkg in site.data.package_updates-%}
		<tr>
			<td>
				{%-assign pkgver = pkg.version |split: '/' |last-%}
				{{ pkg.name }} {{ pkg.version | append: "-" | append: pkg.release | truncate: 10 }}
			</td>
			<td>
				<a title="view package info" href="{{ '/packages/' | append: pkg.name | relative_url }}">
					<i class="fas fa-info-circle"></i>
				</a>
			</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
