<table
	class="table table-sm table-bordered table-hover table-striped table-responsive-xl"
	id="table-packages"
	data-toggle="table"
	data-sort-name="name"
	data-sort-order="asc">
	<thead class="thead-dark">
		<tr>
			<th data-field="opcode" data-sortable="true">Name</th>
			<th>Version</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
{%-for pkg in site.data.packages-%}
		<tr>
			<td>{{ pkg.name }}</td>
			<td>{{ pkg.version }}</td>
			<td>{{ pkg.description }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
