<!doctype html>
<html>
	<head>
{% include head.liquid %}
	</head>
{% if page.classes %}
	<body class="{{ page.classes | join: ' ' }}">
{% else %}
	<body>
{% endif %}
	<button
		data-localize="site_scroll_top"
		onclick="topFunction()"
		id="scrollButton"
		title="Go to top"
	>
		Top
	</button>
	<a href="#content" class="sr-only">Skip to content</a>
{% include header.liquid %}
	<div class="container-fluid">
		<div id="content">
			<article>
				{%comment%}<h1>{{ page.title }}</h1>{%endcomment%}
				{{ content }}
			</article>
		</div>
{% include footer.liquid %}
	</div>
{% include scripts.liquid %}
	</body>
</html>
